<!-- @dsCard group="Imagery" height=260 -->
<!doctype html>
<html>
<head><meta charset="utf-8"><title>ShapeImage preview</title></head>
<body>
<div id="root" class="hd-row"></div>
<script>
  var E = window.HalfDome, h = React.createElement;
  ReactDOM.createRoot(document.getElementById('root')).render(h(React.Fragment, null, h(E.ShapeImage,{src:'../../assets/Imagery/HD_CAKE.png',shape:4,colour:'purple',width:300}), h(E.ShapeImage,{src:'../../assets/Imagery/HD_ROCKET_SHOPPING_ARROW.png',shape:1,colour:'red',width:300}), h(E.ShapeImage,{src:'../../assets/Imagery/HD_HOLIDAY_LEMON.png',shape:5,colour:'gold',width:300})));
</script>
</body>
</html>
