<!-- @dsCard group="Imagery" height=120 -->
<!doctype html>
<html>
<head><meta charset="utf-8"><title>BrandIcon preview</title></head>
<body>
<div id="root" class="hd-row"></div>
<script>
  var E = window.HalfDome, h = React.createElement;
  ReactDOM.createRoot(document.getElementById('root')).render(h(React.Fragment, null, h(E.BrandIcon,{name:'Growth',size:96}), h(E.BrandIcon,{name:'Rocket',colour:'purple',size:96}), h(E.BrandIcon,{name:'Search',colour:'gold',size:96}), h(E.BrandIcon,{name:'Handshake',size:96}), h(E.BrandIcon,{name:'Targeting',colour:'purple',size:96})));
</script>
</body>
</html>
